body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(227, 254, 247);
  color: rgb(0, 60, 67);
}

h1 {
  text-align: center;
  background-color: rgb(19, 93, 102);
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  background-color: rgb(119, 176, 170);
}

nav ul li {
 display: inline;
 margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.card {
  text-align: center;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
  justify-content: space-between;
  display: inline-block; /* Allow cards side-by-side */
  width: 300px;         
}

#employeeCards {
  display :flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-color: black;
}
.image-container {
  text-align: center; /* Center the image */
  width: 300px;      /* Set the container width */
  height: 300px;     /* Set the container height */
  overflow: auto;  /* Hide any overflow of the image */
}

.image-container img {
  width: 100%;       /* Force the image to fill the width of its container */
  height: 100%;       /* Force the image to fill the height of its container */
} 

footer {
  text-align: center;
  background-color: rgb(19, 93, 102);
  color: white;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%; 
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 5px solid black;
  width: 500px;
  margin: 50px auto;
  background-color: bisque;
}

.submitBtn {
  background-color:bisque;
  width: 300px;
  height: 50px;
}

.input { 
  width: 300px;
  height: 50px;
  text-align: center;
}

label {
font-size: 30px;
font-weight: bold;
font-family: 'Times New Roman';
}

.accountingTable {
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto; 
  border-collapse: collapse; 
  font-family: 'Times New Roman'; 
 
}

.accountingTable th,
.accountingTable td {
  border: 0.5px solid #ddd; /* Light gray border */
  padding: 20px;          /* Cell padding for readability */
  text-align: center;       /* Left align text in most cells */
}

.accountingTable th {
  background-color: rgb(119, 176, 170); /* Light gray header background */
  font-weight: bold;
}

.accountingTable tr:nth-child(even) {
  background-color: #f8f8f8; /* Subtle alternating row colors */
}

.accountingTable tfoot td {  
  text-align: center;     
  font-weight: bold;
}



/* note : 
1- without any extra char : all named elements in the linked html
2- with "." calls class elements : class = "elements" 
3- with "#" calls ID elements : ID = "elements" */